.main-btn {
    background-color: #FDCE0E;
    padding: 21px 29px;
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    transform: border, background-color, img;
    transition: border 0.2s, background-color 0.2s img;
    img {
        margin-right: 15.02px;
        color: #3C4852;
    }

    &:hover {
        img {
            color: #3C4852;
        }
        border: 1px solid #3C4852;
        color: #3C4852;

    }
}